@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#202020] font-[Montserrat];
  }

  button {
    transition: all 0.5s;
  }

  button:hover {
    transition: all 0.5s;
    box-shadow: rgba(209, 68, 3, 0.897) 0px 4px 16px, rgba(209, 68, 3, 0.897) 0px 8px 24px, rgba(209, 68, 3, 0.897) 0px 16px 56px;
  }

  button:active {
    transform: scale(.9);
  }

  .no-scroll {
    overflow-y: hidden;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-background-: transparent !important;
    -webkit-text-fill-color: #fff !important;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 17px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EB601D;
  }
}